---
import Github from "./icons/Github.astro";
import Nestjs from "./icons/NestJs.astro";
import Expressicon from "./icons/Expressicon.astro"
import Firebase from "./icons/Firebase.astro"
const TAGS = {
    NEST: {
        name:"NextJS",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Nestjs
    },
    EXP: {
        name:"Express",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Expressicon
    },
    FB: {
        name:"Firebase",
        class:" rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Firebase
    }
}
const PROJECTS=[
    {
        title:"Un litro de leche alta gracia(Crons)",
        body:"This a part of a project developed as Final Project for SoyHenry Bootcamp. ",
        href: "/81shots_so.jpg",
        github:"https://github.com/nicolasaddamo1/CronJobs",
        tags:[TAGS.NEST,TAGS.EXP, TAGS.FB]
    },

]
---

{  
 PROJECTS.map(({title, body, href, github, tags}) => (
    <article class="flex flex-col gap-2 pl-8">
        <h3 class="text-lg font-semibold text-blue-300">{title}</h3>
        <p>{body}</p>
        <h4 class="text-lg font-semibold text-yellow-200/50">Tools:</h4>
        <ul class="flex flex-row gap-x-3 pb-4" >
            {tags.map((tag) => (
                <li>{tag.name}</li>
                <li >
                    <tag.icon class={tag.class}/>
                    
                </li>
            ))}
        </ul>
        <img class="rounded-l-xl rounded-tr-xl rounded-br-none shadow-violet-900/50 shadow-2xl" src={href}></img>

        <ul  class ="flex flex-row gap-x-2 pt-4 pl-8">
            <li><Github/></li>
            <li><a href={github}>Code Here</a></li>
        </ul>
    </article>
))
}