---
import Github from "./icons/Github.astro";
import Nestjs from "./icons/NestJs.astro";
import Expressicon from "./icons/Expressicon.astro"
import Firebase from "./icons/Firebase.astro"
import Gitlab from "./icons/Gitlab.astro";
import Discord from "./icons/Discord.astro";
import Postgresql from "./icons/Postgresql.astro";
import Python from "./icons/Python.astro";
import Flask from "./icons/Flask.astro";
import Colab from "./icons/Colab.astro";
import Trello from "./icons/Trello.astro";
import Typescript from "./icons/Typescript.astro";
import Wordpress from "./icons/Wordpress.astro";

const TAGS = {
    TS: {
        name:"TypeScript",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Typescript
    },
    TRE: {
        name:"Trello",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Trello
    },
    GC: {
        name:"Colab",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Colab
    },
    FLASK: {
        name:"Flask",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Flask
    },
    PYTHON: {
        name:"Python",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Python
    },
    PG: {
        name:"PostgreSQL",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Postgresql
    },
    DISCORD: {
        name:"Discord",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Discord
    },
    GITLAB: {
        name:"GitLab",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Gitlab
    },
    NEST: {
        name:"NextJS",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Nestjs
    },
    EXP: {
        name:"Express",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Expressicon
    },
    WP: {
        name:"Wordpress",
        class:"rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Wordpress
    },
    FB: {
        name:"Firebase",
        class:" rounded-full bg-gray-700 text-white size-7 p-1.5",
        icon:Firebase
    }
}
const PROJECTS=[
    {
        title:"Innevo FruitApp",
        body:"This a part of a project developed at Innevo company. This is the model that I trained to recognize fruits and count them. I used Google Colab and Tensorflow. Also i had developed a backend on Typescript with NestJS and Native Query",
        href: "/web personal.jpg",
        github:"Private repo at GitLab",
        tags:[
            TAGS.NEST,
            TAGS.TS,
            TAGS.PG,
            TAGS.PYTHON,
            TAGS.FLASK,
            TAGS.GITLAB,
            TAGS.DISCORD,
            TAGS.GC,
            TAGS.WP,
            TAGS.TRE
        ]
    },
    {
        title:"Un litro de leche alta gracia(Crons)",
        body:"This a part of a project developed as Final Project for SoyHenry Bootcamp. ",
        href: "/81shots_so.jpg",
        github:"https://github.com/nicolasaddamo1/CronJobs",
        tags:[TAGS.NEST,TAGS.EXP, TAGS.FB]
    },
    {
        title:"Robol Solutions website",
        body:"I developed a single-page application (SPA) using WordPress and Hostinger, integrating modern technologies such as React, TypeScript, NestJS, Express, PostgreSQL, and Firebase. Additionally, I built several other SPAs for this company, also based on WordPress and Hostinger, focusing on performance, scalability, and user experience.",
        href: "/robolsolutions.jpg",
        github:"https://robolsolutions.com/",
        tags:[TAGS.NEST,TAGS.EXP, TAGS.FB, TAGS.WP, TAGS.TS, TAGS.PG]
    },

]
---

{  
 PROJECTS.map(({title, body, href, github, tags}) => (
    <article class="flex flex-col pt-10 gap-2 pl-8">
        <h2 class="text-xl font-semibold text-blue-300">{title}</h2>
        <p>{body}</p>
        <h4 class="text-lg font-semibold text-yellow-200/50">Tools:</h4>
        <ul class="flex flex-row gap-x-3 pb-4" >
            {tags.map((tag) => (
                <li>{tag.name}</li>
                <li >
                    <tag.icon class={tag.class}/>
                    
                </li>
            ))}
        </ul>
        <img class="rounded-l-xl rounded-tr-xl rounded-br-none shadow-violet-900/50 shadow-2xl" src={href}></img>

        <ul  class ="flex flex-row gap-x-2 pt-4 pl-8">
            <li><Github/></li>
            <li><a href={github}>Code Here</a></li>
        </ul>
        
    </article>
))
}